/*Configurações iniciais*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Deixando declarações padronizadas*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    width: 375px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.padrao1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;

    h2 {
        font-family: young serif;
        font-size: 28px;
        font-weight: 400;
        color: hsl(14, 45%, 36%);
    }

    p {
        font-size: 16px;
        font-family: outfit;
        font-weight: 400;
        color: hsl(30, 10%, 34%);
    }


    ul,
    ol {
        padding-left: 16px;
        padding-right: 16px;
    }

    li {
        font-family: outfit;
        font-weight: 700;
        padding-left: 12px;
    }

    hr {
        margin-top: 24px;
    }
}

/*Estilização*/


body {

    img {
        width: 100%;
    }

    #introduction {

        h1 {
            font-family: "Young Serif", serif;
            font-size: 36px;
            font-weight: 400;
            color: hsl(24, 5%, 18%);
        }

    }

    #preparation-time {
        padding: 28px;
        border-radius: 16px;
        background: hsl(330, 100%, 98%);

        h2 {
            font-family: outfit;
            font-size: 24px;
            font-weight: 700;
            color: hsl(332, 51%, 32%);
        }

        li {
            padding-left: 12px;
            margin-bottom: 8px;
            color: hsl(332, 51%, 32%);
        }
    }

    #ingredients {

        li {
            color: hsl(14, 45%, 36%);
        }
    }

    #instructions {

        li {
            margin-bottom: 8px;
            color: hsl(14, 45%, 36%);
        }
    }

    #nutrition {

        .text1 {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .text2 {

            .nutrition-section {
    
                display: flex;
    
                .nutrition-section-style-1 {
                    font-size: 16px;
                    font-family: outfit;
                    font-weight: 400;
                    color: hsl(30, 10%, 34%);
                    margin-left: 24px;
                }
    
                #kcal {
                    font-size: 16px;
                    font-family: outfit;
                    font-weight: 600;
                    color: hsl(14, 45%, 36%);
                    margin-left: 60px;
                }
                
                #carbsg {
                    font-size: 16px;
                    font-family: outfit;
                    font-weight: 600;
                    color: hsl(14, 45%, 36%);
                    margin-left: 75px;
                }
                
                #proteing {
                    font-size: 16px;
                    font-family: outfit;
                    font-weight: 600;
                    color: hsl(14, 45%, 36%);
                    margin-left: 68px;
                }
                
                #fatg {
                    font-size: 16px;
                    font-family: outfit;
                    font-weight: 600;
                    color: hsl(14, 45%, 36%);
                    margin-left: 95px;
                }
            }

            hr {
                margin-top: 12px;
                margin-bottom: 12px;
            }

        }

    }
}

footer {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    padding: 10px;

    h4 {
        text-align: center;
        font-family: outfit;
        font-size: 8px;

        a {
            color: hsl(228, 45%, 44%);
        }
    }
}